SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3650", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3650", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6200", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6200", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0000", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0000", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0004", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0004", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6210", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6210", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7800", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7800", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6300", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6300", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7410", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7410", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6002", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6002", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7350", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7350", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0000", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0000", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0003", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0003", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3670", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3670", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="22a3", ATTRS{idProduct}=="0047", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3420", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3410", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3410", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="85a7", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="85a7", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="85a7", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3410", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="2106", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="2106", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="2106", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21cf", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21cf", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21d5", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21d5", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3950", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3950", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3850", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3850", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6001", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6001", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="8a32", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="8a32", MODE:="666", GROUP="plugdev"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="000c", MODE:="666", GROUP="plugdev"
