SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3650", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3650", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6200", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6200", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0000", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0000", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0004", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="0004", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6210", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6210", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7800", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7800", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6300", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6300", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7410", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7410", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6002", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6002", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7350", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="7350", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0000", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0000", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0003", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1f41", ATTRS{idProduct}=="0003", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3670", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3670", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="067b", ATTRS{idProduct}=="2303", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="22a3", ATTRS{idProduct}=="0047", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="0403", ATTRS{idProduct}=="6001", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3420", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="0483", ATTRS{idProduct}=="5740", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3410", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3410", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1d50", ATTRS{idProduct}=="608c", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="85a7", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="85a7", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="85a7", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3410", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="2106", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="2106", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="2106", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21cf", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21cf", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21d5", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="173a", ATTRS{idProduct}=="21d5", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3950", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3950", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3850", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="1a61", ATTRS{idProduct}=="3850", GOTO="access_tandem"
SUBSYSTEM=="tty", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6001", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="1a79", ATTRS{idProduct}=="6001", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="8a32", GOTO="access_tandem"
SUBSYSTEM=="hidraw", ATTRS{idVendor}=="10c4", ATTRS{idProduct}=="8a32", GOTO="access_tandem"
SUBSYSTEM=="usb", ATTRS{idVendor}=="2766", ATTRS{idProduct}=="000c", GOTO="access_tandem"

LABEL="access_tandem"
TAG+="uaccess"

