{
  "extends": "airbnb",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
  },
  "settings": {
    "lodash": 3
  }
}
