{
  "extends": "airbnb",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "rules": {
    "max-len": "warn",
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "operator-linebreak": "warn",
    "implicit-arrow-linebreak": "warn"
  },
  "settings": {
    "lodash": 3
  }
}
