@import '../core/variables.less';

.uploadGroup {
  margin: 20px 40px 10px 40px;

  select {
    font-size: 20px;
  }
}

.label {
  font-size: @font-size-large;
}

.list {
  margin-top: -30px;
}

.settings {
  composes: list;
  margin-left: 150px;
  width: 260px;
}

.main {
  composes: list;
  margin-left: 130px;
  width: 280px;
}
