@import '../core/variables.less';

.purple-centered {
  color: @purple-dark;
  text-align: center;
}

.mostly-opaque-background {
  background-color: rgba(255, 255, 255, 0.925);
}

.main {
  position: absolute;
  top: 0; left: 0;

  width: 100%;
  height: @app-height;
}

.failed {
  composes: main;
  composes: mostly-opaque-background;
  background: url(/images/unhappy_meter.png) center center / 69px 166px no-repeat;
}

.offline {
  composes: main;
  composes: mostly-opaque-background;
  background: url(/images/unhappy_device.png);
  background-position: 50% 60%;
  background-size: 105px 237px;
  background-repeat: no-repeat;
}

.outdated {
  composes: main;
  composes: mostly-opaque-background;
  background: url(/images/happy_device.png);
  background-position: 50% 60%;
  background-size: 156px 213px;
  background-repeat: no-repeat;
}

.text {
  min-height: 425px;
  justify-content: center;
}

.link {
  color: @purple-light;

  &:hover,
  &:focus,
  &:active {
    color: @purple-medium;
    text-decoration: none;
  }
}

.paragraph {
  composes: purple-centered;
  margin: 0;
  font-size: @font-size-large;
  font-weight: bold;
}

.mostImportant {
  composes: paragraph;
  margin-top: 20px;
}

.error {
  position: absolute;
  top: 600px; left: 0px;

  width: 100%;
  min-height: 80px;
}

.errorText {
  composes: purple-centered;
  margin: 0;
  font-size: @font-size-small;
}
