{
  "extends": "airbnb",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "max-len": "warn",
    "import/order": "warn",
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "lodash/prefer-lodash-method": "off",
    "arrow-parens": "warn",
    "operator-linebreak": "warn",
    "no-else-return": "warn",
    "object-curly-newline": "warn",
    "implicit-arrow-linebreak": "warn"
  },
  "overrides": [
    {
      "files": [
        "abbottFreeStyleLite.js",
        "abbottPrecisionXtra.js"
      ],
      "rules": {
        "func-names": "warn",
        "no-var": "warn",
        "vars-on-top": "warn",
        "no-unused-vars": "warn",
        "object-shorthand": "warn",
        "comma-dangle": "warn",
        "space-before-function-paren": "warn",
        "no-param-reassign": "warn",
        "prefer-template": "warn",
        "no-useless-escape": "warn",
        "keyword-spacing": "warn",
        "indent": "warn",
        "spaced-comment": "warn",
        "eqeqeq": "warn",
        "space-infix-ops": "warn",
        "prefer-arrow-callback": "warn",
        "no-shadow": "warn",
        "array-bracket-spacing": "warn",
        "no-use-before-define": "warn",
        "no-else-return": "warn",
        "no-bitwise": "warn",
        "consistent-return": "warn",
        "no-plusplus": "warn",
        "no-continue": "warn",
        "no-loop-func": "warn",
        "object-curly-spacing": "warn",
        "key-spacing": "warn",
        "padded-blocks": "warn",
        "no-console": "warn",
        "no-multi-spaces": "warn",
        "no-mixed-operators": "warn",
        "max-len": "warn",
        "prefer-destructuring": "warn",
        "no-buffer-constructor": "warn"
      }
    }
  ],
  "settings": {
    "lodash": 3,
    "import/resolver": node
  }
}
