{
  "extends": "airbnb",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6,
  },
  "rules": {
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "arrow-parens": "warn",
    "operator-linebreak": "warn"
  },
  "settings": {
    "lodash": 3
  }
}
