{
  "extends": "airbnb",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-plusplus": ["error", {
      "allowForLoopAfterthoughts": true
    }],
    "max-len": "warn",
    "max-classes-per-file": "warn",
    "import/order": "warn",
    "operator-linebreak": "warn",
    "arrow-parens": "warn",
    "no-else-return": "warn",
    "lines-between-class-members": "warn",
    "function-paren-newline": "warn",
    "comma-style": "warn",
    "implicit-arrow-linebreak": "warn"
  },
  "settings": {
    "lodash": 4,
    "import/resolver": node
  }
}
