{
  "extends": "airbnb",
  "plugins": ["lodash"],
  "parserOptions": {
    "ecmaVersion": 6
  },
  "rules": {
    "no-plusplus": [
      "error",
      {
        "allowForLoopAfterthoughts": true
      }
    ],
    "import/order": "warn",
    "max-len": "warn",
    "import/no-extraneous-dependencies": "warn",
    "max-classes-per-file": "warn",
    "operator-linebreak": "warn",
    "arrow-parens": "warn",
    "object-curly-newline": "warn"
  },
  "overrides": [
    {
      "files": [
        "oneTouchUltraMini.js",
        "oneTouchUltra2.js",
        "oneTouchVerioIQ.js"
      ],
      "rules": {
        "brace-style": "warn",
        "comma-spacing": "warn",
        "no-empty": "warn",
        "radix": "warn",
        "no-regex-spaces": "warn",
        "operator-assignment": "warn",
        "prefer-spread": "warn",
        "one-var": "warn",
        "one-var-declaration-per-line": "warn",
        "space-before-blocks": "warn",
        "camelcase": "warn",
        "func-names": "warn",
        "no-var": "warn",
        "vars-on-top": "warn",
        "no-unused-vars": "warn",
        "object-shorthand": "warn",
        "comma-dangle": "warn",
        "space-before-function-paren": "warn",
        "no-param-reassign": "warn",
        "prefer-template": "warn",
        "no-useless-escape": "warn",
        "keyword-spacing": "warn",
        "indent": "warn",
        "spaced-comment": "warn",
        "eqeqeq": "warn",
        "space-infix-ops": "warn",
        "prefer-arrow-callback": "warn",
        "no-shadow": "warn",
        "array-bracket-spacing": "warn",
        "no-use-before-define": "warn",
        "no-else-return": "warn",
        "no-bitwise": "warn",
        "consistent-return": "warn",
        "no-plusplus": "warn",
        "no-continue": "warn",
        "no-loop-func": "warn",
        "object-curly-spacing": "warn",
        "key-spacing": "warn",
        "padded-blocks": "warn",
        "no-console": "warn",
        "no-multi-spaces": "warn",
        "no-mixed-operators": "warn",
        "max-len": "warn",
        "prefer-destructuring": "warn"
      }
    }
  ],
  "settings": {
    "lodash": 3
  }
}
